@model IPM_Project.Models.Dog

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("SearchAllDogs", "Data", FormMethod.Post))
{
    <div class="row">
        @Html.Label("Name:")
        @Html.TextBoxFor(m => m.Name)
    </div>

    <div class="row">
        <div class="col-md-4">
            @Html.Label("Category:")
            @Html.DropDownListFor(m => m.Category, new List<SelectListItem>()
                {
                    new SelectListItem{Text = "Big", Value = "BIG" },
                    new SelectListItem{Text = "Medium", Value = "MEDIUM" },
                    new SelectListItem{Text = "Small", Value = "SMALL" }
                }, "Please Select Dog Size");
        </div>

        <div class="col-md-4">
            @Html.Label("Gender:")
            @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>()
                {
                    new SelectListItem{Text = "Male", Value = "MALE" },
                    new SelectListItem{Text = "Female", Value = "FEMALE" },
                }, "Please Select the Gender");
        </div>

        <div class="col-md-4">
            @Html.Label("Colour 1:")
            @Html.DropDownListFor(m => m.Colour1, new List<SelectListItem>()
                {
                    new SelectListItem{Text = "Black", Value = "Black" },
                    new SelectListItem{Text = "Brown", Value = "Brown" },
                    new SelectListItem{Text = "White", Value = "White" },
                    new SelectListItem{Text = "Red", Value = "Red" },
                }, "Please Select the 1st Colour");
        </div>

        <div class="col-md-4">
            @Html.Label("Colour 2:")
            @Html.DropDownListFor(m => m.Colour2, new List<SelectListItem>()
                {
                    new SelectListItem{Text = "Black", Value = "Black" },
                    new SelectListItem{Text = "Brown", Value = "Brown" },
                    new SelectListItem{Text = "White", Value = "White" },
                    new SelectListItem{Text = "Red", Value = "Red" },
                }, "Please Select the 2nd Colour");
        </div>
    </div>

    <div class="row">
        <input type="submit" value="Submit" title="Search" />
    </div>
}

