@model IPM_Project.Models.Dog

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("SearchAllDogs", "Data", FormMethod.Post))
{
    <div class="row">
        @Html.Label("Name:")
        @Html.TextBoxFor(m => m.Name)

        <input type="submit" value="Submit" />
    </div>

    <div class="row">
        <div class="col-md-4">
            @Html.Label("Category:")
            @Html.DropDownListFor(m => m.Category, new List<SelectListItem>()
                {
                    new SelectListItem{Text = "Big", Value = "BIG" },
                    new SelectListItem{Text = "Medium", Value = "MEDIUM" },
                    new SelectListItem{Text = "Small", Value = "SMALL" }
                }, "Please Select Dog Size");
        </div>

        <div class="col-md-4">
            @Html.Label("Adopted:")
            @Html.CheckBox("Adopted")
        </div>

        <div class="col-md-4">
            @Html.Label("Gender:")
            @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>()
                {
                    new SelectListItem{Text = "Male", Value = "M" },
                    new SelectListItem{Text = "Female", Value = "F" },
                }, "Please Select the Gender");
        </div>
    </div>
}

