@model IPM_Project.Models.Entities.Dog

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Style/Presentation.css">

<h1 class="center-block; text-center">@ViewBag.Title</h1>

<!-- Dog Info -->
<div class="container-fluid" id="presentationPage">
    <!-- DOG -->
    <div class="modal-body row" style="display: flex;">
        <!-- Dog Photo -->
        <div class="col-md-6" id="dogPhoto">
            <img src="~/@Model.Figures.First()" alt="@Model.Name"
                    class="rounded mx-auto d-block" />

            <br />
            <br />

            <div class="text-center">
                <label for="Breed" class="l">Likes: </label>
                <label for="Breed" class="">@Model.Likes.Count()</label>
                <br />
                @if (!Model.Likes.Contains(ViewBag.User))
                {
                    <a href=@Url.Action("Like", "Dogs",new { id = Model.Id })>
                        Like &raquo;
                    </a>
                }
                else
                {
                    <p>Already Liked</p>
                }
            </div>
            <br />
            <div class="text-center">
                <label for="Breed" class="col-4 col-form-label">Followers: </label>
                <label for="Breed" class="col-4 col-form-label">@Model.Followers.Count() </label>
                <br />
                @if (!Model.Followers.Contains(ViewBag.User))
                {
                    <a href=@Url.Action("Follow", "Dogs",new { id = Model.Id })>
                        Follow &raquo;
                    </a>
                }
                else
                {
                    <a href=@Url.Action("Unfollow", "Dogs",new { id = Model.Id })>
                        Unfollow &raquo;
                    </a>
                }
            </div>

        </div>

        <!-- Dog Info-->
        <div class="col-md-6" id="dogInfo">
            <div class="form-group row">
                <label for="Breed" class="col-4 col-form-label">Breed</label>
                <br />
                <fieldset class="">@Model.Breed</fieldset>
            </div>

            <div class="form-group row">
                <label for="Age" class="col-4 col-form-label">Age</label>
                <br />
                <fieldset class="">@Model.ageStringFormat()</fieldset>
            </div>

            <div class="form-group row">
                <label for="Sex" class="col-4 col-form-label">Sex</label>
                <br />
                <fieldset class="">@Model.Gender</fieldset>
            </div>

            <div class="form-group row">
                <label for="Size" class="col-4 col-form-label">Size</label>
                <br />
                <fieldset class="">@Model.Category</fieldset>
            </div>

            <div class="form-group row">
                <label for="Fur" class="col-4 col-form-label">Fur</label>
                <br />
                <fieldset class="">@Model.Fur</fieldset>
            </div>

            <div class="form-group row">
                <label for="Location" class="col-4 col-form-label">Location</label>
                <br />
                <fieldset class="">@Model.Location</fieldset>
            </div>

            <div class="form-group row">
                <label for="TimeInCaptivity" class="col-4 col-form-label">Time In Captivity</label>
                <br />
                <fieldset class="">@Model.timeInCaptivityStringFormat()</fieldset>
            </div>

            <br />

            <div class="text-center">
                <a href=@Url.Action("AdoptDogForm", "Form", new { dogId = Model.Id, dogName = Model.Name })
                   class="btn btn-primary btn-lg">
                    Adopt &raquo;
                </a>
                &nbsp;
                &ensp;
                <a href=@Url.Action("SponsorDogForm", "Form", new { dogId = Model.Id, dogName = Model.Name })
                   class="btn btn-primary btn-lg">
                    Sponsor &raquo;
                </a>
            </div>
        </div>
        <br />
        <hr />
    </div>
</div>
<hr />

<!-- Dog Feed -->
<div class="container-fluid" id="feedNews">
    @if (Model != null && Model.Feed.Count() > 0)
    {
        foreach (IPM_Project.Models.Entities.News row in Model.Feed)
        {
            <div class="modal-body row" style="display: flex;">
                <div class="col-md-6" style="background-image: url('@row.figure');
                                    background-size: cover;
                                    background-repeat: no-repeat">
                    <br />
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <p class="h1">@row.title</p>
                    </div>
                    <div class="text-left">
                        <p>@row.news</p>
                    </div>
                    <br />
                    <div class="text-right">
                        <small>@row.publishTime</small>
                    </div>
                    <br />
                    <hr />
                </div>

            </div>
        }
    }
    else
    {
        <div class="row">
            Sorry, for the moment there is no news...
        </div>
    }
</div>

