@model IPM_Project.Models.SpecificViewModels.AdoptViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="h1">@ViewBag.Title.</p>

<div>
    @using (Html.BeginForm("SearchDogs", "Data", FormMethod.Post))
    {
    <div class="form-group">

        <div class="form-control">
            @Html.Label("Name:")
            @Html.TextBoxFor(m => m.modelDog.Name)
        </div>

        <br />

        <div class="form-control">
            @Html.Label("Category:")
            @Html.DropDownListFor(m => m.modelDog.Category, new List<SelectListItem>()
                {
                    new SelectListItem{Text = "Big", Value = "BIG" },
                    new SelectListItem{Text = "Medium", Value = "MEDIUM" },
                    new SelectListItem{Text = "Small", Value = "SMALL" }
                }, "Please Select Dog Size");
       
            @Html.Label("Gender:")
            @Html.DropDownListFor(m => m.modelDog.Gender, new List<SelectListItem>()
                {
                    new SelectListItem{Text = "Male", Value = "MALE" },
                    new SelectListItem{Text = "Female", Value = "FEMALE" },
                }, "Please Select the Gender");
        </div>

        <br />

    </div>

        <button type="submit" class="btn btn-primary">Search</button>
    }
</div>

<br /> <hr /> <br />

<div id="listDog" class="container">
    @if (Model != null && Model.searchDogs.Count() > 0)
    {
        foreach (IPM_Project.Models.Entities.Dog[] row in Model.searchDogs)
        {
            <div class="row">
                @if (row.Count() >= 1 && row[0] != null)
                {
                    <div id="DogCol0" class="col-md-4">
                        <a href="@Url.Action("Dog", "Dogs", new { id = row[0].Id })">
                            <img src="~/@row[0].Figures.First()" alt="@row[0].Name" 
                                 class="rounded mx-auto d-block"  
                                 width="200" height="200"/>
                        </a>
                        <br />
                        @Html.Label(row[0].Name)
                    </div>
                }

                @if (row.Count() >= 2 && row[1] != null)
                {
                    <div id="DogCol1" class="col-md-4">
                        <a href="@Url.Action("Dog", "Dogs", new { id = row[1].Id })">
                            <img src="~/@row[1].Figures.First()" alt="@row[1].Name" 
                                 class="rounded mx-auto d-block" 
                                 width="200" height="200"/>
                        </a>
                        <br />
                        @Html.Label(row[1].Name)
                    </div>
                }
                @if (row.Count() >= 3 && row[2] != null)
                {
                    <div id="DogCol2" class="col-md-4">
                        <a href="@Url.Action("Dog", "Dogs", new { id = row[2].Id })">
                            <img src="~/@row[2].Figures.First()" alt="@row[2].Name" 
                                 class="rounded mx-auto d-block" 
                                 width="200" height="200"/>
                        </a>
                        <br />
                        @Html.Label(row[2].Name)
                    </div>
                }
            </div>
        }
    }
    else
    {
        <div class="row">
            Sorry, no Dogs were found matching your search criteria...
        </div>
    }
</div>
