@model IPM_Project.Models.SpecificViewModels.AdoptViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Style/Adopt.css">

<p class="h1" style="text-align: center">Our Dogs</p>
<p>This our dogs. It's for them that we put all the work. Check them out and visit their personal pages.</p>

<hr />

<div>

    @using (Html.BeginForm("SearchDogs", "Data", FormMethod.Post))
    {
<div class="form-group">
    <div style="text-align: center">
        @Html.Label("Name:")
        @Html.TextBoxFor(m => m.modelDog.Name)
        &nbsp;&nbsp;&nbsp;
        @Html.Label("Category:")
        @Html.DropDownListFor(m => m.modelDog.Category, new List<SelectListItem>()
            {
                new SelectListItem{Text = "Big", Value = "BIG" },
                new SelectListItem{Text = "Medium", Value = "MEDIUM" },
                new SelectListItem{Text = "Small", Value = "SMALL" }
            }, "Please Select Dog Size");
        &nbsp;&nbsp;&nbsp;
        @Html.Label("Gender:")
        @Html.DropDownListFor(m => m.modelDog.Gender, new List<SelectListItem>()
            {
                new SelectListItem{Text = "Male", Value = "MALE" },
                new SelectListItem{Text = "Female", Value = "FEMALE" },
            }, "Please Select the Gender");
    </div>
    <br />
    <button type="submit" class="btn btn-primary" style="text-align: center;
                                                        margin: 0;position: absolute;">
        Search
    </button>
</div>

    }
</div>

<br /> <hr /> <br />

<div id="listDog" class="container">
    @if (Model != null && Model.searchDogs.Count() > 0)
    {
        foreach (IPM_Project.Models.Entities.Dog[] row in Model.searchDogs)
        {
            <hr />
            <div class="row">
                @if (row.Count() >= 1 && row[0] != null)
                {
                <div id="DogCol0" class="col-md-4">
                    <figure class="figure">
                        <a href="@Url.Action("Dog", "Dogs", new { id = row[0].Id })">
                            <img src="~/@row[0].Figures.First()" alt="@row[0].Name"
                                 class="figure-img img-fluid rounded img-circle" />
                        </a>
                        <br />
                        @Html.Label(row[0].Name)
                    </figure>
                    <br />
                </div>
                }

                @if (row.Count() >= 2 && row[1] != null)
                {
                <div id="DogCol1" class="col-md-4">
                    <figure class="figure">
                        <a href="@Url.Action("Dog", "Dogs", new { id = row[1].Id })">
                            <img src="~/@row[1].Figures.First()" alt="@row[1].Name"
                                 class="figure-img img-fluid rounded img-circle" />
                        </a>
                        <br />
                        @Html.Label(row[1].Name)
                    </figure>
                    <br />
                </div>
                }
                @if (row.Count() >= 3 && row[2] != null)
                {
                <div id="DogCol2" class="col-md-4">
                    <figure class="figure">
                        <a href="@Url.Action("Dog", "Dogs", new { id = row[2].Id })">
                            <img src="~/@row[2].Figures.First()" alt="@row[2].Name"
                                 class="figure-img img-fluid rounded img-circle" />
                        </a>
                        <br />
                        @Html.Label(row[2].Name)
                    </figure>
                    <br />
                </div>
                }
            </div>
        }
    <br />
    }
    else
    {
        <div class="row">
            Sorry, no Dogs were found matching your search criteria...
        </div>
    }
</div>
