@model IEnumerable<IPM_Project.Models.Dog>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListDogs</h2>
<h3>@ViewBag.Message</h3>

@foreach (IPM_Project.Models.Dog item in Model)
{
    <div class="row">
        <div class="col-md-4">
            <img src="~/@item.Figures[0]" alt="@item.Name" style="width:240px;height:160px;"/>
        </div>

        <div class="col-md-4" >
            @Html.Label($"Name: {@item.Name}") <br />
            @Html.Label($"Category: {@item.Category}") <br />
            @Html.Label($"Age: {@item.Age}") <br />
        </div>

        <div class="col-md-4">
            @Html.ActionLink("Like", "Like", new { /* id=item.PrimaryKey */ }) <br />
            @Html.ActionLink("Adopt", "Adopt", new { /* id=item.PrimaryKey */ }) <br />
        </div>
    </div>

    <br />

    <hr />
}
